@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
    font-family: "Poppins", sans-serif;
}

.accordion-item.active .accordion-content {
    max-height: 150px;
    padding-top: 1.25rem;
}

.accordion-item.active .arrow {
    transform: rotate(-180deg);
    transition: all 100ms ease-in-out;
}

.menu-list.show {
    right: 0;
}

@media(max-width:1024px) {

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 40px;
    }
}